@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Odor+Mean+Chey&family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    font-weight: 400;
}
a {
    text-decoration: transparent;
}
.navbar {
    padding: 0 30px;
    width: 992px;
    height: 88px;
    display: flex;
    justify-content: space-between;
}
.bir {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 458px);
    align-items: center;
}
.ikki {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 737px);
}
.fif {
	font-family: Inter;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.10000000149011612px;
	color: #24AFB5;
}
.ikki>button,
.button4 {
    height: 38px;
    width: 102px;
    border-radius: 6px;
    background: #24AFB5;
    box-shadow: 0px 1px 1px 0px #0000000A;
    box-shadow: 0px 2px 1px 0px #00000008;
    box-shadow: 0px 1px 3px 0px #0000000D;
    border: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.20000000298023224px;
    text-align: center;
    color: #fff;
}
.bir>a {
    display: block;
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.10000000149011612px;
    color: #1C1C1C;
}
.head {
	height: 700px;
	width: 992px;
}
.container {
	padding: 100px 100px 0;
}
.div-img-1 {
	width: 362px;
	height: 350px;
	background: url("../img/image.svg") center no-repeat #DBDBDB;
}
.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.right {
	height: 278px;
	width: 396px;
}
.one-t {
	font-family: Inter;
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: -1.2000000476837158px;
}
.so-t {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.30000001192092896px;
	color: #585757;
	margin-top: 24px;
}
.right>button {
	height: 48px;
	width: 96px;
	border-radius: 6px;
	border: transparent;
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.20000000298023224px;
	text-align: center;
	background: #24AFB5;
	margin-top: 24px;
}
.partners {
	margin-top: 50px;
	font-family: Inter;
	font-size: 13px;
	font-weight: 400;
	line-height: 14px;
	letter-spacing: 1px;
	color: #969696;
	text-transform: uppercase;
}

.log {
	display: flex;
	align-items: center;
	justify-content: center;
}
.ot {
	margin-top: 30px;
}
.background {
	height: 650px;
	width: 992px;
}

.text-b {
	height: 440px;
	width: 346px;
}
.container2 {
	padding: 0 0 0 100px;
}
.bs {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.bac-b {
	height: 650px;
	width: 496px;
	background: url("../img/Device.png") center right no-repeat;
}
.caps-t {
	font-family: Inter;
	font-size: 13px;
	font-weight: 700;
	line-height: 14px;
	letter-spacing: 1px;
	color: #1C1C1C;
	text-transform: uppercase;
	margin-top: 8px;
}
.two-t {
	font-family: Inter;
	font-size: 32px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: -1.2000000476837158px;
	color: #1C1C1C;
	margin: 20px 0;
}
.you-t {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.30000001192092896px;
	color: #585757;
}
.learn-t {
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.20000000298023224px;
	text-align: left;
	color: #24AFB5;
	margin-top: 19px;
}
.heading-b {
	height: 349px;
	width: 992px;
}
.chap {
	height: 108px;
	width: 315px;
}
.ong {
	height: 112px;
	width: 393px;
}
.b-b>button {
	height: 48px;
	width: 129px;
	border-radius: 6px;
	box-shadow: 0px 1px 1px 0px #0000000A;
	box-shadow: 0px 2px 1px 0px #00000008;
	box-shadow: 0px 1px 3px 0px #0000000D;
	background: #24AFB5;
	border: transparent;
	display: block;
	margin-top: 16px;
	text-align: center;
	color: #fff;
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.20000000298023224px;
	
}
.b-b {
	width: 100%;
	display: flex;
	justify-content: right;
}
.ong>input {
	border: 1px solid #DBDBDB;
	outline: none;
	height: 48px;
	width: 393px;
	color: #1C1C1C;
	border-radius: 6px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.30000001192092896px;
	padding: 0 0 0 15px;
}
.ong>input::placeholder {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.30000001192092896px;
	color: #585757;
}
.in-t {
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.20000000298023224px;
	color: #585757;
	margin-top: 6px;
}
.heading-t {
	font-family: Inter;
	font-size: 24px;
	font-weight: 600;
	line-height: 32px;
	letter-spacing: -0.4000000059604645px;
	color: #1C1C1C;
}
.bac-tel {
	height: 470px;
	width: 992px;
}
.yuz {
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
}
.box-text {
	width: calc(100% - 447px);
	height: calc(370px - 56px);
}
.heading2-t {
	font-family: Inter;
	font-size: 40px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: -1.2000000476837158px;
	color: #1C1C1C;
	height: 56px;
	width: 305px;
}
.with-t {
	font-family: Inter;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.30000001192092896px;
	margin: 20px 0 30px 0;
	color: #585757;
	height: 90px;
	width: 315px;
}
.app-b {
	height: 58px;
	width: 170px;
	border-radius: 6px;
	background: url("../img/app.png");
}
.play-b {
	height: 58px;
	width: 170px;
	border-radius: 6px;
	background: url("../img/play.png");
}
.tanla {
	display: flex;
	justify-content: space-between;
	width: calc(892px - 532px);
}
.when-t {
	font-family: Inter;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: -0.10000000149011612px;
	margin-top: 20px;
	color: #969696;
	height: 36px;
	width: 441px;
}
.tel-i {
	height: 370px;
	width: 279.0000305175781px;
	background: url("../img/Devices.png") bottom no-repeat;
}
.slider-b {
	height: 743px;
	width: 992px;
}
.text-b-b {
	height: 140px;
	width: 730px;
	margin: 110px auto 0;
}
.short-t {
	font-family: Inter;
	font-size: 48px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: -1.2000000476837158px;
	text-align: center;
	
}
.each-t {
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.30000001192092896px;
	text-align: center;
	margin-top: 20px;
	color: #585757;
}

/*Slider start*/

.container3 {
    margin: 0 auto;
}
.slider {
    margin-top: 60px;
}
.wrapper {
    width: 100%;
    overflow: hidden;
}
.boxes {
    width: 300%;
    display: flex;
    gap: 30px;
    transition: all 0.3s;
}
.box {
    width: 540px;
    height: 259px;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    padding: 30px 30px 0 30px;
    display: flex;
    gap: 30px;
}

.activeBox {
    border: 1px solid #24AFB5
}
.dots {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 6px;
}
.dot {
    width: 8px;
    height: 8px;
    background-color: #DBDBDB;
    border-radius: 50%;
}
.active {
	background: #24AFB5;
}
.box>img {
	height: 80px;
	width: 80px;
}
.qosh-i-b {
	height: 48px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.moment-t {
	height: 90px;
	width: 370px;
	font-family: Inter;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -0.30000001192092896px;
	margin: 5px 0 20px;
	color: #585757;
}
.bertha-t {
	font-family: Inter;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: -0.20000000298023224px;
	color: #1C1C1C;
}
.font-av {
	width: 54px;
}
.two-box {
	height: 292px;
	width: 992px;
}

.two-t-2 {
	font-family: Inter;
	font-size: 30px;
	font-weight: 700;
	line-height: 46px;
	letter-spacing: -0.800000011920929px;
	color: #1C1C1C;
	height: 92px;
	width: 540px;
}
.section-box {
	height: 480px;
	width: 992px;
}
.bir-1 {
	height: 48px;
	width: 170px;
}
.section-t {
	font-family: Inter;
	font-size: 30px;
	font-weight: 700;
	line-height: 46px;
	letter-spacing: -0.800000011920929px;
	color: #1C1C1C;
}
.ikki-2 {
	height: 163px;
	width: 160px;
}
.ikki-2>p,
.uch-3>p,
.tort-4>p {
	font-family: Inter;
	font-size: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.20000000298023224px;
	color: #585757;
	margin-top: 10px;
}
.ikki-2>.h5,
.uch-3>.h5,
.tort-4>.h5 {
	font-family: Inter;
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: -0.10000000149011612px;
	color: #1C1C1C;
	margin-top: 0;
	
}
.uch-3 {
	height: 223px;
	width: 160px;
}
.tort-4 {
	height: 190px;
	width: 160px;
}
.and {
	display: flex;
	justify-content: space-between;
}
.green {
	height: 60px;
	width: 992px;
	padding: 0 102px 0 456px;
	margin-top: 103px;
	background: #F7F7F7;
}
.logoes {
	width: 122px;
}
.li {
	height: 18px;
	width: 250px;
}
.li>p {
	font-family: Inter;
	font-size: 13px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: -0.10000000149011612px;
	color: #969696;
}
.none {
	display: none;
}
.menu-b {
	display: none;
}
.nout {
	display: none;
}
.f {
	display: flex;
	justify-content: space-between;
}
.n2,
.n3,
.fo-t-2,
.two-l-t,
.poster-t,
.n4,
.n5,
.besh-5,
.green>.logo,
.green>p {
	display: none;
}
.tbb2 {
	display: none;
}

.m-r,
.m-t,
button,
.app-b,
.play-b,
.font-av>img,
.logoes>img {
	cursor: pointer;
}
.dot {
	cursor: grabbing;
}
.yuq {
	width: 170px;
	display: flex;
	justify-content: space-between;
	align-content: center;
}
.section-t {
	height: auto;
	width: 110px;
	font-size: 163%;
}
body>div {
	display: flex;
	justify-content: center;
}