* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*body {
	overflow: hidden;
}*/
html {
	scroll-behavior: smooth;
}
.big-box {
    display: flex;
    justify-content: center;
    width: 1000px;
}

img {
    filter: brightness(60%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.asos {
    width: 328px;
    height: 168px;
    /* border: 1px solid #E1BB97; */
    position: relative;
    left: 62px;
    top: -425px;
}
.asos>a{
	width: auto;
	height: auto;
	border: none;
}
.salom {
    font-family: HelveticaNeueCyr;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    width: 100%;
    text-align: center;
    color: #fff;
}
.taklif {
    font-family: HelveticaNeueCyr;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #E1BB97;
    width: 278px;
    height: 30px;
    margin: 0 auto;
}
.utish {
    font-family: HelveticaNeueCyr;
    font-size: 22px;
    font-weight: 550;
    line-height: 22px;
    text-align: center;
    width: 100%;
    text-align: center;
    height: 53px;
    border: 1px solid #E1BB97;
    border-radius: 26.5px;
    background: none;
    color: #fff;
}
.profil-box {
    width: 527px;
    background: #181818;    
    height: 701px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 {
    /* margin: 0 84px 0 115; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.black {
    height: 417px;
    width: 328px;
    left: 1041px;
    top: 221px;
    /* border: 1px solid #E1BB97; */
    text-align: center;
}
.profil {
    font-family: HelveticaNeueCyr;
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    margin: 0 auto;
    height: 35px;
    width: 230px;
    color: #fff;
}
.icons {
    height: 55px;
    width: 200px;
    margin: 20px auto 0 auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center; 
}
a {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
i {
    color: white;
}
.kirit {
    font-family: HelveticaNeueCyr;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    color: #fff;
    height: 15px;
    width: 228px;
    margin: 25px auto 10px auto;
}
input[type="email"] {
    height: 53px;
    width: 328px;
    border-radius: 26.5px;
    background: url();
    border: 1px solid #E1BB97
    
}

input[type="email"] {
    height: 53px;
    width: 328px;
    border-radius: 26.5px;
    background: url("../img/email.png") left no-repeat;
    border: 1px solid #E1BB97;
    color: #E1BB97;
    font-size: 15px;
    margin: 5px 0 10px 0;
    padding: 0 0 0 44px;
    background-size: 15px;
    background-position: 20px;
}
input[type="password"] {
    height: 53px;
    width: 328px;
    border-radius: 26.5px;
    background: url("../img/lock.png") left no-repeat;
    border: 1px solid #E1BB97;
    color: #E1BB97;
    font-size: 15px;
    margin: 20px 0 20px 0;
    padding: 0 0 0 40px;
    background-size: 12px;
    background-position: 20px;
}
.ki {
    font-family: HelveticaNeueCyr;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    text-align: center;    
    color: #fff;
    height: 53px;
    width: 328px;
    border-radius: 26.5px;
    background: #E1BB97;
    border: none;
}

.unut {
    font-family: HelveticaNeueCyr;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    margin: 15px 0 0 0;
    color:#fff;
    text-decoration: underline rgb(168, 165, 160);
}

button:hover {
    cursor: pointer;
}

.ki:hover {
    background-color: #fff;
    color: #E1BB97;
}
a:hover i,a:hover {
    color: #E1BB97;
    border-color: #E1BB97;
}
.salom:hover,
.taklif:hover,
.profil:hover,
.kirit:hover,
.unut:hover {
    cursor: context-menu;
}

@media screen and (max-width: 370px) {
	.big-box {
		display: block;
		width: 100%;
		border-top-left-radius: 26.5px;
	}
	.bolga {
		width: 100;
		height: 100%;
		transform:translate(-20px, 0);
	}
	.container {
		position: absolute;
		left: -45px;
	}
	.class {
		width: 100%;
		height: 700px;
		/*border: 1px solid yellow;*/
		overflow: hidden;
		border-top-left-radius: 15px;
		border-top-right-radius: 15px;
		
	}
	.profil-box {
		width: 100%;
		border-top-right-radius: 0;
		border-bottom-left-radius: 15px;
		
	}
}