@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Odor+Mean+Chey&family=Poppins:wght@400;500;600&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vampiro+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'TT Hoves';
}
.start-box {
    width: 1903px;
    height: 840px;
    background: url("../img/start.png") 100% no-repeat;
    padding: 50px 0 0 352px;
}

/* .container {
    border: 1px solid yellow;
} */
.round-b {
    display: flex;
    height: 61px;
    width: 419.310302734375px;
    justify-content: space-between;
}

.round-t {
    font-weight: 800;
    font-size: 45px;
    color: #E15252;
    line-height: 32px;
    letter-spacing: 5px;
    width: 100%;
    height: 31.37px;
}
.bicycle-t {
    letter-spacing: 11px;
    font-size: 25px;
    color: #EB5757;
}
.what-t-b {
    margin: 190px 0 0 0;
}
.what-t{
    width: 473px;
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
    color: #E15252;
}
.what-t-2 {
    font-size: 47px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
}
.lorem-t {
    width: 425px;
    height: 68px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #333333;
    margin-top: 29px;
}
.what-t-b>button,
.ikki-box>button,
.text-box>button{
    margin-top: 30px;
    width: 160px;
    height: 46px;
    background: #E15252;
    border-radius: 42px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.ikki-box {
    height: 840px;
    width: 1903px;
    text-align: center;
}
.servicies-b {
    height: 292px;
    width: 698px;
    background: #F2F2F2;
    border-radius: 0px 0px 50px 50px;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
}
.servicies-t {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
}
.repair-t {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #E15252;
    margin-top: 10px;
}
.diagnosis {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: calc(100% - (352px + 351px));
    margin: 40px auto 0 auto;
}
.group {
    width: 246px;
    height: 362px;
}
.image-2 {
    background-color: #E15252;
    border-radius: 50%;
    height: 224px;
    width: 224px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.diagnosis-t {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #333333;
}
.lorem-2-t {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4F4F4F;
}
.ikki-box>button,
.text-box>button {
    height: 46px;
    width: 208px;
    margin-top: 50px;
}

/* Uchinchi start */
.uchinchi-box {
    height: 840px;
    width: 1903px;
    background: url("../img/qizil-v-1.svg") no-repeat;
}
.kerak {
    background-color: rgba(225, 82, 82, 0.8);
    text-align: center;
    padding: 50px 0 0 0;
}
.about-t-b {
    text-align: center;
}
.about-t {
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    margin: 0 0 10px 0;
}
.we-t {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #333333;
    margin-bottom: 50px;
}
.quti-img {
    display: flex;
    height: 648px;
    width: 1200px;
    margin: 0 auto;
    background-color: #FFFFFF;
}
.text-box {
    width: 352px;
    height: 370px;
    margin-left: 30px;
}
.company-t {
    width: 352px;
    height: 46px;
    font-family: Vampiro One;
    font-weight: 400;
    font-size: 46px;
    line-height: 100%;
    color: #333333;
    margin-top: 139px;
}
.chiziq {
    height: 2px;
    width: 90px;
    background-color: #E15252;
    border: 1px solid #E15252;
    border-radius: 1px;
    text-align: left;
    margin-top: 22px;
}
.lorem-3-t {
    width: 352px;
    height: 204px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #4F4F4F;
    text-align: left;
    margin-top: 20px;
}
.text-box>button {
    margin-top: 30px;
}
.image-3>img,
.image-3 {
    border-radius: 50px 0 0 0;
}
.quti-img {
    border-radius: 50px 50px 0 0;
}
/* Tortinchi-box start */
.tortinchi-box {
	width: 1903px;
	height: 698px;
	background: url("../img/qizil_v.png");
	text-align: center;
}
.kerak-2 {
    background-color: rgba(255, 251, 251, 0.8);
    height: 100%;
}
.contact-b {
	height: 648px;
	width: 1200px;
	margin: 0 auto;
	background: #E15252;
	padding: 60px 0 0 50px;
    border-radius: 0 0 50px 50px;
}
.contact-b>p {
	display: block;
}
.bol {
	display: flex;
	height: 300px;
	height: 300px;
	gap: 50px;
    align-items: center;
}
/* .chap-b {
    border: 1px solid green;
} */
.chap-b>input {
	display: block;
    width: 374px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 61px;
    margin-bottom: 14px;
    border: none;
    outline: none;
}
.chap-b>button {
    width: 168px;
    height: 56px;
    border: 3px solid #FFFFFF;
    border-radius: 61px;
    background-color: #E15252;
}
.ong {

}
.ong-b>div {
	display: flex;
	gap: 10px;
    font-family: 'TT Hoves';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 35px;
}
.ic-i-b {
	width: 20px;
	height: 20px;
}
.ic-i-b>img {
	width: 100%;
	height: 100%;
}
.contact-t {
    font-family: TT Hoves;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: #FFFFFF;

}
.leave {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #333333;
}

.nima {
    width: 1903px;
    height: 92px;
    background: #C4C4C4;
}
.start-box,
.ikki-box,
.uchinchi-box,
.tortinchi-box,
.nima {
    margin: 0 auto;
}